# Ignora la carpeta de dependencias. ¡Se instalan DENTRO del contenedor!
node_modules
data
.env
.git
.vscode
dist
*.log

# Ignora archivos de entorno y secretos
.env
.env.*

# Archivos de logs y del sistema
*.log
.git
.DS_Store

# Reportes y cache de Playwright (si los generas localmente)
playwright-report/
test-results/

# Docker files (no necesarios dentro del contenedor)
Dockerfile
docker-compose.yml
.dockerignore